.webdev {
    background-color: var(--color-bg-dev);
    color: var(--color-text-dev);
    padding: var(--spacing-md);
}

.webdev__header { 
    text-transform: uppercase;
    font-family: var(--font-serif);
    font-size: var(--text-base);
    margin-bottom: var(--spacing-xs);
}


.webdev__projects {
    padding: var(--spacing-md) 0;
}

.webdev__projects-header {
    margin-bottom: var(--spacing-sm);
    font-size: var(--text-md);
}


.webdev__projects-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: var(--spacing-sm);
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .webdev__projects-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 480px) {
  .webdev__projects-list {
    grid-template-columns: minmax(0, 1fr);
  }
}